.base-button {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: inherit;
  transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;

  &:disabled {
    opacity: .7;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background-color: var(--primary);
    color: var(--button-white);

    &:hover {
      &:not(:disabled) {
        background-color: var(--primary-light);
      }
    }

    &:focus {
      &:not(:disabled) {
        background-color: var(--primary-dark);
        box-shadow: var(--box-shadow-primary);
      }

    }
  }

  &--secondary {
    background-color: var(--secondary);
    color: var(--button-white);

    &:hover {
      &:not(:disabled) {
        background-color: var(--secondary-light);
      }
    }

    &:focus {
      &:not(:disabled) {
        background-color: var(--secondary-dark);
        box-shadow: var(--box-shadow-secondary);
      }

    }
  }

  &--subscription-purple {
    background-color: var(--subscription-purple);
    color: var(--button-white);

    &:hover {
      &:not(:disabled) {
        background-color: var(--subscription-purple-light);
      }
    }

    &:focus {
      &:not(:disabled) {
        background-color: var(--subscription-purple-dark);
        box-shadow: var(--box-shadow-subscription-purple);
      }
    }
  }

  &--subscription-blue {
    background-color: var(--subscription-blue);
    color: var(--button-white);

    &:hover {
      &:not(:disabled) {
        background-color: var(--subscription-blue-light);
      }
    }

    &:focus {
      &:not(:disabled) {
        background-color: var(--subscription-blue-dark);
        box-shadow: var(--box-shadow-subscription-blue);
      }
    }
  }
}