.base-button {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: inherit;
  transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background-color: var(--primary);
    color: var(--button-white);

    &:hover {
      background-color: var(--primary-light);
    }

    &:focus {
      background-color: var(--primary-dark);
      box-shadow: var(--box-shadow-primary);
    }
  }

  &--secondary {
    background-color: var(--secondary);
    color: var(--button-white);

    &:hover {
      background-color: var(--secondary-light);
    }

    &:focus {
      background-color: var(--secondary-dark);
      box-shadow: var(--box-shadow-secondary);
    }
  }
}