.loader-wrapper {
  width: 40px;
  height: 40px;
  display: inline-block;
  color: var(--primary);
  animation: rotate 1.4s linear infinite;
}
.loader {
  display: block;
  color: currentColor;
}
.loader-circle {
  stroke: currentColor;
  stroke-dasharray: 80px,200px;
  stroke-dashoffset: 0;
  animation: rotate-circle 1.4s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-circle {
  0% {
    stroke-dasharray: 1px,200px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100px,200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px,200px;
    stroke-dashoffset: -125px;
  }
}