@import "../../../../../assets/styles/abstracts/mixins";


.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 1rem 0;
  box-shadow: var(--box-shadow);
}
.header-content {
  @include flex(row, center, space-between);
}
.header__logo {
  @include flex(row, center, flex-start);
}
.header__logo-image-wrapper {
  width: 2rem;
  margin-right: 1rem;
}
.header__logo-image {
  width: 100%;
  display: block;
}
.header__title {
  font-size: 1.5rem;
}