@import "../../../assets/styles/abstracts/mixins";


.reset-form {
  @include flex(column, center, flex-start);
}
.reset-form__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.reset-form__inputs {
  width: 100%;
  margin-bottom: 1rem;
}
.reset-form__form-group {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  
  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}
.reset-form__label {
  margin-bottom: 0.25rem;
}
.reset-form__controls {
  width: 100%;
  @include flex(column, flex-start, flex-start);
}
.reset-form__controls-main {
  @include flex(row, center, flex-start);
}
.reset-form__controls-btn {
  margin-right: 0.5rem;
}
.reset-form__controls-change-mode {
  color: var(--link);
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}
.reset-form__controls-forgot {
  color: var(--link);
  text-decoration: underline;
  margin-top: 0.5rem;
}