:root {
  // Main colors
  --primary-light: #307a30;
  --primary: #184618;
  --primary-dark: #0b300b;
  
  --secondary-light: #ffe436;
  --secondary: #ffcc00;
  --secondary-dark: #ffbb00;

  --primary-text-color: #010b01;

  // Abstract color
  --white: #ffffff;
  --black: #000000;
  --light-gray: #cdcdcd;

  // Sense colors
  --bg-color: #ffffff;
  --border-color: #121212;
  --feature-item-border-color: #5e636b;
  --button-white: #ffffff;
  --button-black: #000000;

  // Basic styles
  --box-shadow: 0 0 0.5rem -0.25rem #121212;
  --box-shadow-primary: 0 0 0.1rem 0.1rem var(--primary);
  --box-shadow-secondary: 0 0 0.1rem 0.1rem var(--secondary);
}

.App.dark {
  // Main colors
  --primary-text-color: #e4e7e4;

  // Abstract color
  --white: #000000;
  --black: #ffffff;

  // Sense color
  --bg-color: #121212;
  --border-color: #ffffff;
  --feature-item-border-color: #1e293b;

  // Basic styles
  --box-shadow: 0 0 0.5rem -0.25rem #eeeeee;
}